footer {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: solid #CCCCCC;
}

footer p {
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
